@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@300;800&display=swap");
button.primaryButton {
  background: #f3edf7;
  border: transparent;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 14px 10px 14px;
  gap: 12px;

  font-family: "Paralucent";
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.7);
}
